.slide-background-content {
  background-image: url("whiteboard.png");
  background-size: 100% 100%;
}
.framed {
 display: inline-block;
 border-style: solid;
 padding: 10px;  
 border-width: 15px 15px 15px 15px;
 border-image: url("frame2.png") 20% 20% 20% 20% stretch;
}

pre, code {
 background-color: rgba(255, 255, 255, 0.2) !important;
 border-style: solid;
 border-width: 5px 5px 5px 5px;
 border-image: url(frame.png) 10% 0% 40% 20% stretch;
}

.reveal div.sourceCode {
  background-color: transparent;
  border: 0px solid #fff;
}

.reveal code.sourceCode {
  font-size: 1.3em;
}

/*.reveal ol,*/
./*reveal dl, .reveal ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li{
 font-family: Pangolin;
 padding-left: 30px;
 background: url('dot.png') no-repeat left top;
}*/

/* h2{
 width:1107px;
 background-image: url(underline.png);
 background-position: 0 1em;
 background-repeat: repeat-x;
 background-size: 1107px 12px;
} */

/*Headings*/
.reveal h1 {
  font-weight: 800;
  color: rgb(188, 75, 220);
  text-align: center;
  background-image: url(underline.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 90% 15%;
}

.reveal h2 {
  font-weight: 700;
  color: rgb(50, 181, 193);
  background-image: url(underline.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90% 15%;
}

.reveal h3 {
  color: rgb(222, 112, 47);
  font-weight: 600;
  /*background-image: url("figures/chalk1-white.png");
 background-repeat: no-repeat; Do not repeat the image 
 background-position: center;
 background-size: 100% 50%;*/
}



/* my extra */

.center {
  text-align: center
}

.emph {
  font-size: 1.5em;
  color: rgb(222, 112, 47);
  font-weight: 600;
}

.small {
  font-size: 0.75em;
}

.large {
  font-size: 1.5em;
}

.huge {
  font-size: 2em;
}

/* title slide */

.reveal .quarto-title-block .quarto-title-authors {
  display: flex;
  justify-content: right;
  font-size: 1.1em;
}

#title-slide,
div.reveal div.slides section.quarto-title-block {
  text-align: right;
}

#title-slide .title,
div.reveal div.slides section.quarto-title-block .title {
  text-align: left;
  margin-bottom: 2.5rem;
  font-size: 2em
}

#title-slide .subtitle,
div.reveal div.slides section.quarto-title-block .subtitle {
  text-align: left;
  margin-bottom: 2.5rem;
  font-size: 1.5em
}

#title-slide .date,
div.reveal div.slides section.quarto-title-block .date {
  text-align: right;
  margin-bottom: 2.5rem;
  font-size: 0.7em
}

/* Panel tabset*/

.panel-tabset [role=tablist] {
  border-bottom: 0px solid #fff;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: url("underline.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 90% 15%;
}

@media(min-width: 30em) {
  .panel-tabset [role=tab][aria-selected=true] {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    padding: 10px;
    border-width: 5px 5px 5px 5px;
    border-image: url("frame2.png") 20% 20% 20% 20% stretch;
    text-decoration: none
  }
}